<!DOCTYPE html>
<html>
<head>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Welcome to my blog</title>
</head>
<body>
    <h3><div id="UserName"><%= userInfo.id_token.name %></div></h3> 
    <h3><div id="usreLineCode"><%= userInfo.id_token.sub %></div></h3> 
    <h3>Took Queue number: </h3>
    <h3><div id ="qNum"></div></h3>
    <h2> <div id="shopName"><div> </h2>
</body>


<script>

    var ses_shop =  window.sessionStorage.getItem("shopname");
   // window.sessionStorage.setItem("shopname", res[1]);
    $("#shopName").text("Shop : " + ses_shop);
    
    var ses_q =  window.sessionStorage.getItem("qNum");
    
     $("#qNum").text(ses_q);
     
   
    var gg="";
   /*
    var gg="";
    $.ajax({
      method: "POST",
      url: "https://line-login-starter-2.herokuapp.com/insert_Q_info",
      data: JSON.stringify({  "name": "John", "shop": ses_shop }),
      contentType: "application/json; charset=utf-8",
      dataType: "json"
        })
      .done(function( msg ) {
          gg = msg;
          
        
        alert( "Data Saved: " + msg );
      });
     */
       $.ajax({
      method: "POST",
      url: "https://line-login-starter-2.herokuapp.com/insert_Q_info",
      data: JSON.stringify({  "name": $("#UserName").text(), "shop": ses_shop, "qNum": $("#qNum").text(), "lineCode": $("#usreLineCode").text()  }),
      contentType: "application/json; charset=utf-8",
      //dataType: "json",
      
        error: function(){
            return true;
        },
        success: function(msg){ 
             gg = msg;
            alert( "Data Saved: " + msg);
        }
     });
     
     
     
</script>

</html>