<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>Welcome to my blog</title>
</head>
<body>
    <h3><%= userInfo.id_token.name %></h3> 
    <h3>Took Queue number: </h3>
    <h3><div id ="qNum"></div></h3>
    <h2> <div id="shopName"><div> </h2>
</body>


<script>

    var ses_shop =  window.sessionStorage.getItem("shopname");
   // window.sessionStorage.setItem("shopname", res[1]);
    $("#shopName").text("Shop : " + ses_shop);
    
    var ses_q =  window.sessionStorage.getItem("qNum");
    
     $("#qNum").text(ses_q);
     
   
    $.ajax({url: "https://line-login-starter-2.herokuapp.com/instert_Q_info", success: function(result){
        //$("#div1").html(result);
        alert("xxx");
        
    }});
     
     
     
     
</script>

</html>