<!DOCTYPE html>
<html>
  
  

  
  
  
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src=" https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  
    <title>Welcome to my blog</title>
</head>
<body>
    <h2> <div id="shopName"><div><%= shopName %>  </h2>
    <h3>Take Queue number:</h3>
    <h3><div id ="qNum"><%= newQ_Info %></div></h3>
    <p><a class="btn btn-primary btn-lg" href="/auth" role="button">Get Queue</a></p>
   
 
 
 
 







<div id="components-demo">
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
</div>

<div id="example-1">
  <button v-on:click="counter += 1">Add 1</button>
  <p>The button above has been clicked {{ counter }} times.</p>
</div>

<div id="example-2">
  <!-- `greet` is the name of a method defined below -->
  <button v-on:click="greet">Greet</button>
</div>


<base-checkbox v-model="lovingVue"></base-checkbox>





</body>


<script>



    var res = window.location.href.split("=");
    window.sessionStorage.setItem("shopname", res[1]);
    var qNum = $("#qNum").text();
     window.sessionStorage.setItem("qNum", qNum);
    //$("#shopName").text("Shop : " + res[1]);
    
    //===================Vue.js=============================

// Define a new component called button-counter
Vue.component('button-counter', {
  data: function () {
    return {
      count: 0
    }
  },
  template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
})

new Vue({ el: '#components-demo' })
    
    
    
var example1 = new Vue({
  el: '#example-1',
  data: {
    counter: 0
  }
})    

var example2 = new Vue({
  el: '#example-2',
  data: {
    name: 'Vue.js'
  },
  // define methods under the `methods` object
  methods: {
    greet: function (event) {
      // `this` inside methods points to the Vue instance
      alert('Hello ' + this.name + '!')
      // `event` is the native DOM event
      if (event) {
        alert(event.target.tagName)
      }
    }
  }
})

// you can invoke methods in JavaScript too
example2.greet() // => 'Hello Vue.js!'




Vue.component('base-checkbox', {
  model: {
    prop: 'checked',
    event: 'change'
  },
  props: {
    checked: Boolean
  },
  template: `
    <input
      type="checkbox"
      v-bind:checked="checked"
      v-on:change="$emit('change', $event.target.checked)"
    >
  `
})


    
</script>







</html>