<!DOCTYPE html>
<html>
<head>
    <title>Welcome to my blog</title>
</head>
<body>
    <h1>Recent Blog Posts</h1>
    <% for(let i = 0; i < posts.length; i++) { %>
        <article>
            <h2><%= posts[i].title %></h1>
            <p><%= posts[i].body %></p>
        </article>
    <% } %>
</body>
</html>