<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>Welcome to my blog</title>
</head>
<body>
    <h2> <div id="shopName"><div> </h2>
    <h3>Take Queue number: <%= posts.queue %> ?</h3>
    <p><a class="btn btn-primary btn-lg" href="/auth" role="button">Get Queue</a></p>
    
</body>


<script>

    var res = window.location.href.split("=");
    $("#shopName").text("Shop : " + res[1]);
</script>

</html>