<!DOCTYPE html>
<html>
<head>
</head>
<body>
    
<h1>Shop List</h1>


<div id="ShopInfo">
<ul>
<% for(var i=0; i<shopList.length; i++) {%>
  <li><%= shopList[i] %></li>
<% } %>
</ul>
</div>
</body>
<script>
$("li").click(function(){
    alert("The paragraph was clicked.");
});
</script>


</html>