<!DOCTYPE html>
<html>
<head>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
    



<div id="ShopInfo">
<h1>Shop List</h1>
<ul>
<% for(var i=0; i<shopList.length; i++) {%>
  <li><%= shopList[i] %></li>
<% } %>
</ul>
</div>

<div id="Shop_Customer_Info">
    
</div>
    
    


</body>
<script>

$("#ShopInfo  li").click(function(){
    
    var str ="<h1>All Customers in Shop : "+ $(this).text() + "</h1>";
        $.ajax({
      method: "POST",
      url: "https://line-login-starter-2.herokuapp.com/booking_shop_customer_info",
      data: JSON.stringify({  "shop": $(this).text()  }),
      contentType: "application/json; charset=utf-8",
      //dataType: "json",
      
        error: function(){
            //return true;
            alert( "Error Occured");
        },
        success: function(msg){ 
      
            
            
            for(let i=0; i< msg.length; i++)
            {
                str = str +"<li>"+msg[i].name+"</li>";
            }
            str = str +"<a href='/manage'>Back to Shop lists</a>";
            
            $("#Shop_Customer_Info").append(str);
        
             $("#ShopInfo").hide();
            /*
            let list = document.createElement('ul');
             
            for(let i=0; i< msg.length; i++)
            {
                 let item = document.createElement('li');
                 item.appendChild(document.createTextNode(msg[i].name));
            }
            //$("#Shop_Customer_Info").append("<h1>All customers in Shop :" +  $(this).text()+ "</h1>");
            $("#Shop_Customer_Info").append(list);
            $("#ShopInfo").hide();
            //alert($(this).text());
            */
        }
     });

});
</script>


</html>